html {
  height: 100%;
}

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
  font-size: 0.5em;
}

a {
  text-decoration: none;
  color: white;
}

#logo {
  max-height: 100px;
  position: absolute;
  left: 45%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6em);
}

h1 {
  color: #196e80;
  font-weight: 300;
  text-align: center;
  font-size: 5em;
}

.details {
  color: #ffe81f;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

#refresh {
  width: 30px;
  position: absolute;
  left: 48%;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#all a {
  color: #196e80;
}

.header-all {
  height: 110px;
}

.episode-quote {
  padding: 1.25em;
  text-align: center;
}

#about {
  color: #196e80;
}

.episode-quote {
  display: flex;
  justify-content: center;
}

.episode-quote span {
  padding-right: 2em;
}

.make-yellow {
  color: #ffe81f;
}
