html {
  height: 100%;
}

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  text-align: center;
  font-size: 0.5em;
  height: 200px;
}

a {
  text-decoration: none;
  color: white;
}

.header-center {
  position: absolute;
  left: 45%;
  display: flex;
  flex-direction: column;
  height: 200px;
}

#logo {
  max-width: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6em);
  margin-top: 0;
}

h1 {
  color: #196e80;
  font-weight: 300;
  text-align: center;
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

.details {
  color: #ffe81f;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

#refresh {
  width: 30px;
  position: absolute;
  left: 48%;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#all-quotes {
  color: white;
  max-width: 600px;
  margin: 5em auto;
}

#all a {
  color: #196e80;
}

/* .header-all {
  height: 110px;
} */

.episode-quote {
  display: flex;
  padding: 1.25em 0 0 0;
  justify-content: flex-start;
}

.episode-quote div {
  flex: 1;
}

.about {
  color: #196e80;
}

.episode-quote {
  display: flex;
  justify-content: center;
}

.episode-quote span {
  padding-right: 2em;
}

.make-yellow {
  color: #ffe81f;
}

#about {
  color: #eee;
}
