body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #196e80;
  font-weight: 300;
  text-align: center;
}

footer {
  color: white;
  display: flex;
  justify-content: space-between;
}
